.employee-services {
    margin: 50px 0px;
}


.employee-bundle {
    margin: 10px 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    padding: 20px;
}

.employee-bundle-item {
    height: 100px;
    background-color: rgb(209, 115, 209);
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.employee-services .title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: orange;
}

.employee-bundle-item .description {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.employee-bundle-item:hover {
    transform: translateY(-5px);
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .employee-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .employee-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .employee-container {
        grid-template-columns: repeat(2, 1fr);
    }
}