@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.employee-services {
    margin: 50px 0;
}

/* Adjust container and grid settings */
.employee-container {
    padding: 20px;
}

.employee-bundle {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr); /* 5 columns by default */
    gap: 10px; /* Increased gap for better spacing */
    margin: 10px 200px;
}

/* Style for each item in the grid */
.employee-bundle-item {
    height: 100px;
    background-color: #FE6601;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}

.employee-bundle-item .description{
    text-align: center;
}

.employee-bundle-item:hover {
    transform: translateY(-5px);
}

.employee-services .title {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    color: orange;
    font-family: "Kalam", cursive;
}

/* Responsive Design */
@media (max-width: 768px) {
    .employee-bundle {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; /* 4 columns */
        margin: 0;
    }
}

