.news-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #c1d4e9;
}

.news-detail {
  max-width: 60%;
  width: 100%;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.news-detail-header {
  text-align: left;
  margin: 20px 10px;
}

.date-and-text {
  display: flex;
  gap: 10px;
}

.news-detail-header p {
  font-size: 17px;
  font-weight: bold;
}

.news-detail-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-detail-image img {
  height: 60%;
  width: 60%;
  margin-bottom: 20px;
}

.header-title {
  color: orange;
  margin-left: 7px;
  margin-bottom: 20px;
}

.news-detail-content {
  font-size: 17px;
  line-height: 1.5;
  padding: 0px 8px;
}

.go-to-news-events,
.go-to-services,
.go-to-newsletter {
  margin: 10px 10px;
  padding: 10px 10px;
  font-size: 16px;
  color: black;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.go-to-news-events:hover,
.go-to-services:hover,
.go-to-newsletter:hover {
  text-decoration: underline;
}



.custom-h1 {
  font-size: 20px;
  color: black;
}

.custom-h2 {
  color: orange;
  text-align: justify;
}

.custom-h3 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.custom-paragraph {
  font-size: 20px;
}

.custom-link {
  color: #007bff;
  text-decoration: underline;
}

.custom-table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 5px;
}

.custom-tr {
  border-bottom: 1px solid #ddd;
}

.custom-th,
.custom-td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.custom-ul,
.custom-ol {
  margin-left: 100px;
  margin-bottom: 15px;
}

.custom-li {
  margin-bottom: 5px;
}