.news-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #c1d4e9;
}

.news-detail {
  max-width: 60%;
  width: 100%;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.news-detail-header {
  text-align: center;
}

.news-detail-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-detail-image img {
  height: 150px;
}

.news-detail-content {
  font-size: 17px;
  line-height: 1.5;
  padding: 0px 8px;
}

.go-to-news-events, .go-to-services{
  margin: 10px 10px;
  padding: 10px 10px;
  font-size: 16px;
  color: black;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.go-to-news-events:hover, .go-to-services:hover{
  text-decoration: underline;
}



.custom-h1 {
  font-size: 1.3rem;
  color: darkblue;
}

.custom-h2 {
  color: orange;
  text-align:justify;
}

.custom-h3 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.custom-paragraph {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.custom-link {
  color: #007bff;
  text-decoration: underline;
}