.guide-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #c1d4e9;
}

.guide-details {
    max-width: 60%;
    width: 100%;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.go-to-infobriefs {
    padding: 10px 10px;
    font-size: 16px;
    color: black;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.go-to-infobriefs:hover {
    text-decoration: underline;
}

@media (max-width:768px) {
    .guide-details {
        max-width: 100%;
    }

    .guide-details-content p {
        font-size: 15px;
    }

    .custom-h2 {
        text-align: left;
        font-size: 21px;
    }

}