.mission-contents {
    width: 100%;
    min-height: 500px;
    position: relative;
    top: 50px;
    margin-bottom: 100px;
}

.mission-contents h3 {
    text-decoration: underline;
    text-align: center;
    font-size: 25px;
    color: rgb(44, 131, 165);
}

.mission-image img {
    height: max(35vw, 100px);
    width: max(100vw, 100px);
}

.mission-texts {
    margin: 30px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.mission-texts .title {
    color: black;
    font-size: 30px;
}

.mission-texts h2 {
    color: orange;
    font-size: 60px;
    width: max(60vw, 100px);
    text-align: center;
}

.mission-texts-text {
    border: 1px solid orange;
    border-radius: 25px;
    gap: 10px;
    padding: 20px 20px;
    width: max(60vw, 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-texts-text p {
    text-align: center;
    font-size: 19px;
}

.get-started-now {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    margin: 30px 200px;
    gap: 50px;
}

.get-started-now-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 1px solid orange;
    padding: 20px 10px;
    gap: 10px;
    text-align: center;
}

.get-started-now-item img {
    height: 37px;
    width: 37px;
}

.bottom-text {
    background-color: rgb(52, 149, 187);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bottom-text p {
    font-size: 25px;
    color: yellow;
}

.bottom-text-up {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .mission-contents {
        width: 100%;
        top: 70px;
        margin-bottom: 100px;
    }

    .mission-texts h2 {
        color: orange;
        font-size: 35px;
        width: max(80vw, 100px);
        text-align: center;
    }
}