.mission-contents {
    width: 100%;
    min-height: 300px;
    position: relative;
    top: 50px;
    margin-bottom: 100px;
}

.mission-image img {
    height: max(35vw, 100px);
    width: max(100vw, 100px);
}

.mission-texts {
    margin: 30px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mission-texts .title {
    color: black;
    font-size: 30px;
}

.mission-texts h2 {
    color: orange;
    font-size: 60px;
    width: max(50vw, 100px);
    text-align: center;
}

.mission-texts-text {
    border: 1px solid orange;
    border-radius: 25px;
    gap: 10px;
    padding: 20px 20px;
    width: max(60vw, 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-texts-text p {
    text-align: center;
}

@media (max-width: 768px) {
    .mission-contents {
        width: 100%;
        top: 70px;
        margin-bottom: 100px;
    }

    .mission-texts h2 {
        color: orange;
        font-size: 35px;
        width: max(80vw, 100px);
        text-align: center;
    }
}