.carousel {
    position: relative;
    width: 100%;
    margin-top: 130px;
    height: 570px;
    overflow: hidden;
    background-color: #f0f0f0;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    object-fit: cover;
    z-index: 1;
}

.carousel-image.active {
    opacity: 1;
    z-index: 2;
}

/* Arrows Styling */
.carousel-arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 3;
}

.arrow {
    background: #006DB2;
    border: none;
    color: yellow;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* Creates the circular shape */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 4;
    transition: background-color 0.3s ease;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* Slightly darker on hover */
}

.arrow.prev {
    margin-left: 20px;
}

.arrow.next {
    margin-right: 20px;
}


/* Bubble Navigation Styles */
.carousel-bubbles {
    position: absolute;
    bottom: 15px;
    /* Adjust based on how far you want them from the bottom */
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.bubble {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

.bubble.active {
    background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width:768px){
    .carousel{
        height: 300px;
    }

    .carousel-arrows {
        top: 65%;
    }
    .arrow {
        font-size: 20px;
        width: 30px;
        height: 30px;
    }
}