.navbar {
    padding-left: 60px;
    padding-right: 60px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.navbar-left p {
    font-size: 50px;
    color: orange;
    cursor: pointer;
}

.navbar-right ul {
    display: flex;
    gap: 35px;
}

.navbar-right li {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
}