@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.footer {
    margin: 0px 0px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-content h3 {
    font-size: 30px;
}

.footer-button {
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    background-color: black;
    color: rgb(255, 232, 99);
    cursor: pointer;
    font-size: 15px;
}

.end-panel-container{
    height: 370px;
    width: 100%;
    background-color: rgb(35, 35, 58);
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

.end-panel-top{
    margin: 30px 0px;
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: yellow;
    margin: 0 10px;
    font-size: 28px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007bff;
}

.end-panel-middle{
    display: flex;
    justify-content: space-evenly;

}

.end-panel-middle ul{
    list-style-type: none;
    color: white;
}

.end-panel-middle h2{
    margin-bottom: 10px;
    color: orange;
}

.end-panel-middle li{
    line-height: 25px;
}

.end-panel-middle li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.end-panel-end{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: orange;
}

.end-panel-end h3{
    font-family: "Kalam";
}



