@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.newsletter {
    max-width: 70%;
    margin: 40px auto;
}

.news-container {

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    gap: 20px;
}

.news-container .left {
    display: inline-block;
    margin: 0 auto;
    width: 92%;
    box-sizing: border-box;
}


.news-container .right {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    box-sizing: border-box;
    gap: 10px;
}

.alt {
    color: orange;
    font-size: 42px;
    text-align: center;
    font-family: "Kalam";
}

.alt2 {
    color: orange;
    font-size: 26px;
    text-align: center;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    gap: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
button[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width:768px) {

    .newsletter {
        margin: 0 auto;
    }

    .alt {
        font-size: 20px;
    }

    .news-container {
        display: flex;
        flex-direction: column;
    }

    .news-container .left,
    .news-container .right {
        width: 100%;
        padding-right: 0;
    }

    .contact-form {
        flex-direction: column;
    }

    .form-group {
        width: 100%;
        /* Full width for input fields */
        margin-bottom: 10px;
        /* Add spacing between fields */
    }
}