.et-guides {
    position: relative;
    width: 100%;
}

.et-guides-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 211, 247);
}

.et-guides-container .title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: rgb(221, 104, 21);
}

.et-list-container {
    width: 75.5%;
    margin: 0 auto;
}

.et-list {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.scroll-button {
    position: absolute;
    top: 25%;
    background-color: #D5C183;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    z-index: 1;
    transform: translateY(-50%);
    font-size: 24px;
}

.scroll-button.left {
    left: 50px;

}

.scroll-button.right {
    right: 50px;
}

.et-list::-webkit-scrollbar {
    display: none;
}

.et-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}



.et-list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    gap: 5px;
    min-width: 230px;
    height: 560px;
}

.et-list-item h3,
.et-list-item .price,
.et-list-item .text,
.et-list-item button,
.et-list-item .description {
    display: flex;
    align-items: start;
    text-align: center;
    justify-content: center;
}



.et-list-item h3 {
    font-size: 20px;
    min-height: 40px;
}

.et-list-item h4 {
    font-size: 15px;
    text-align: center;
}

.et-list-item .description {
    margin: 5px 0px;
    font-size: 18.5px;
    min-width: 100px;
    min-height: 105px;
    text-align: center;
    color: black;
    font-weight: bold;
    cursor: pointer;


}

.et-list-item .price,
.et-list-item button {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.et-list-item .price {
    color: rgb(36, 59, 59);
    font-size: 30px;
    font-weight: bold;
    min-height: 60px;
}

.et-list-item h3 {
    color: black;
}

hr {
    border: 1px solid rgb(177, 170, 170);
    width: 100%;
}

.et-list-item button {
    border: none;
    height: 15px;
    color: black;
    background-color: #FFDE13;
    min-height: 35px;

}

.et-list-item img {
    min-height: 35px;
    width: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.et-list-item button:hover {
    border: none;
    color: white;
    background-color: #006DB2;
    animation: fadeIn 0.3s;
    cursor: pointer;

}

.learn-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}


.et-all-container {
    display: flex;
    margin: 20px 20px;
}

.et-column {
    display: flex;
    flex-direction: column;
}

.rows-items {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.row-items-all {
    border: none;
    border-radius: 60px;
    background-color: white;
    margin: 20px 20px;
    padding: 20px;
    height: 80px;
    color: rgb(13, 33, 59);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.row-items-all:hover {
    background-color: rgb(13, 33, 59);
    color: white;
    transition: all 0.5s ease;
}

.et-rows-2 .row-items-all {
    color: orange;
    position: relative;
    padding-top: 35px !important;

}

.et-rows-2 .row-items-all:hover {
    background-color: orange;
    color: white;
    transition: all 0.5s ease;
}

.row-items-all .description {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    min-width: 390px;
}

.name {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2px 8px;
    font-size: 12px;
    border: none;
    border-radius: 20px 0px 10px 0px;
    background-color: rgb(13, 33, 59);
    color: white;
    position: absolute;
    top: 0;
    left: 7px;
}

.et-rows-1 .name {
    background-color: orange;
    color: rgb(13, 33, 59);
}

.et-rows-2 .description {
    max-width: 400px;
}

.row-items-all .pointer {
    font-size: 20px;
    font-weight: bold;
}

/* .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.text-row {
    display: flex;
    align-items: center;
}

.second-row {
    display: flex;
    gap: 5px;
}

.acas-highlight {
    font-weight: bold;
    color: white;
} */

.et-bundle {
    border: 3px solid orange;
    border-radius: 100px 0 100px 0;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 20px 20px;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-height: 280px;
    background-color: white;
}

.et-bundle-item {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.et-bundle-item .price,
.et-bundle-item .text,
.et-bundle-item button,
.et-bundle-item .description {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 35px;
}

.et-bundle-item h3 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    color: orange;
    font-size: 20px;
    max-width: 55%;
}

.et-bundle-item .price {
    font-size: 30px;
    font-weight: bolder;
}



.et-bundle-item button {
    border: none;
    border-radius: 20px;
    margin: 0px 10px;
    color: white;
    min-width: 400px;
    background-color: orange;

}

.et-bundle-item button:hover {
    border-radius: 20px;
    color: white;
    background-color: rgb(89, 218, 149);
    cursor: pointer;
    animation: fadeIn 0.6s;

}

@media (max-width:768px) {
    .et-list-container {
        background-color: white;
        width: 80%;
    }

    .et-list {

        margin: 10px 10px;
        padding: 10px 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        min-height: 300px;
        gap: 20px;

    }

    .et-list-item {
        padding: 20px 0px;
        border: 1px solid orange;
        border-radius: 20px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 15px;
        background-color: white;

    }


    .et-list-item h3,
    .et-list-item .price,
    .et-list-item button,
    .et-list-item .description {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        min-height: 30px;
    }

    .et-list-item .description {
        min-height: 80px;
        align-items: start;
        margin: 5px;
    }


    .et-list-item h3 {
        color: black;
        font-size: 20px;
    }

    .et-list-item .price {
        font-size: 30px;
        font-weight: bolder;
    }



    .et-list-item button {
        border: none;
        height: 15px;
        color: black;
        background-color: #FFDE13;
        min-height: 35px;

    }

    .et-list-item button:hover {
        border: none;
        color: white;
        background-color: #006DB2;
        animation: fadeIn 0.3s;
        cursor: pointer;

    }

    .et-bundle-item button {
        min-width: 60px;
        max-width: 270px;

    }

    .thumbnail-container img {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .et-all-container {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
    }

    .row-items-all {
        margin: 10px 10px;
        color: rgb(13, 33, 59);
        gap: 10px;
    }

    .row-items-all .description {
        display: flex;
        font-size: 15px;
        font-weight: bold;
        min-width: 280px;
    }

    .et-rows-2 .row-items-all {
        padding-top: 30px !important;

    }

    .scroll-button.left {
        display: none;

    }

    .scroll-button.right {
        display: none;
    }
}

/* NEW DESIGN PATTERNS */

/* General Styles for ET Guides */

.thumbnail-container {
    position: relative;
    min-height: 200px;
}

.thumbnail-container .thumbnail {
    height: 97%;
    min-width: 80%;
}